body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif !important;
}

.font-inter {
    font-family: "Montserrat", sans-serif;
}


.view {
    padding-left: 1rem; /* px-4 */
    padding-right: 1rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* sm breakpoint (640px) */
@media (min-width: 640px) {
    .view {
        padding-left: 3rem; /* px-12 */
        padding-right: 3rem;
    }
}

/* md breakpoint (768px) */
@media (min-width: 768px) {
    .view {
        padding-left: 4rem; /* px-16 */
        padding-right: 4rem;
    }
}

/* lg breakpoint (1024px) */
@media (min-width: 1024px) {
    .view {
        padding-left: 5rem; /* px-20 */
        padding-right: 5rem;
    }
}

/* xl breakpoint (1280px) */
@media (min-width: 1280px) {
    .view {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

/* 2xl breakpoint (1536px) */
@media (min-width: 1536px) {
    .view {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

/* @media (min-width: 640px) {
  .container {
    max-width: 640px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
    padding-right: 3.5rem;
    padding-left: 3.5rem;
  }
} */
